<html>
    <head>
        <title>Customer-Login</title>

          <!-- Bootstrap CSS -->
          
          <!-- Bootstrap JS -->
          <link href="/Login pages/css/bootstrap.min.css" rel="stylesheet">
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
          <link rel = " stylesheet" href ="/Login pages/css/style.css">
    </head>

     <body> 
      <div class = "container h-100">
        <div class = "group">
          <div class = ".wrapper">
            <img src="/Login pages/images/emblem.jpeg">
          </div>
          <div class="wrapper">
            <form class="form-signin" onsubmit="return false">
              <div class="imgcontainer">
                <img src="/Login pages/images/user2.png" alt="Avatar" class="avatar">
              </div>
               <h2 class="form-signin-heading" style="text-align: center;">Customer Login</h2>
              
               <label class="form-label" for="form3Example1c" style="font-size: large;">Smart Card No</label>
               <input type="number" class="form-control" id="smartcard" placeholder="Smart card number" required="" />
               <br/>

               <label class="form-label" for="form3Example1c" style="font-size: large;">Password</label>
               <input type="password" class="form-control" id="password" placeholder="Password" required=""/>      
               <br/>
               
               <label class="checkbox">
               <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
               </label>
               <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="handleSub()">Login</button>
               <br/>   
               <span class="psw">Forgot <a href="#">password?</a></span><br/>
               <span class="psw">Create an account? <a href="register.html">Sign up</a> </span>

            </form>
         </div>
        </div> 
      </div>
      <script>
        const handleSub = () => {
          let username = document.getElementById("smartcard").value;
          let password = document.getElementById("password").value;
          var jsonObj = "{\"username\":\"" + username +  "\",\"password\":\"" + password + "\"}"
          //Empty check
          //jstring = JSON.parse(jsonObj);
          console.log(jsonObj);
          
             
          //Validation
          fetch('http://localhost:9000/uauth', {
              method: "POST",
              body: jsonObj,
              headers: { "Content-type": "application/json; charset=UTF-8" }
			    })     
                     
            .then(response => response.json())
            .then(json => {
              if (json.status) {						
                localStorage.setItem("clog", "true")
                console.log("true")
                window.location.href = "/Customer/Dashboard_temp/html/index.html"
                //code
                return
              }
              console.log("false")
              window.alert("Invalid Credentials ");
            })
            .catch(err => window.location.href = "/Admin/Dashboard_temp/html/error-404.html");
        }
      </script>
     </body>
</html>

